---
---
@import "{{ site.theme }}";

.page-header {
  color: #ffff;
  background-color: #6f0000;
  background-image: linear-gradient(120deg, #200122, #6f0000);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #6f0000;
}
